<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/estilo2.css">
    <title>Document</title>
</head>
<body>
    <h1>Torcida da Fiel</h1>
    <h2>Com mais de 30 milhões de torcedores, o Corinthians tem uma das maiores torcidas do mundo, e é capaz de atravessar o continente para ver o time jogar.</h2>

<br><br><br>
<form action=""method = "POST">
    <label for="nome">Nome:</label>
    <input type="text"placeholder="informe seu nome" id="nome"required minlength="6" maxlength="10">
<br><br><br>
    <label for="senha">Senha:</label>
    <input type="password" placeholder="informe sua senha" id="senha" required minlength="6">
<br><br><br>
    <label for="e-mail">E-mail:</label>
    <input type="text" placeholder="informe seu e-mail" required minlength="6">
<br><br>
    <button type="submit"> Enviar dados</button>
    <button type="reset"> Limpar informações </button>

<br><br>
</form>
</body>
</html>