<!DOCTYPE html>
<html>

<head>
    <title>Curso Online | Aprenda programação</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body>

    <header id="cabecalho">
        <h1>Curso Online</h1>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#conteudo">Conteúdo</a></li>
                <li><a href="#preco">Preço</a></li>
                <li><a href="#inscreva">Inscreva-se</a></li>
            </ul>
        </nav>
    </header>

    <section id ="sobre"  class="hero">
        <div class="hero-text">
            <h2>Aprenda programação online</h2>
            <p>Desenvolva suas habilidades com a ajuda de especialistas em programação.</p>
            <a href="#" class="btn-hero">Inscreva-se agora</a>
        </div>
    </section>

    <section id="conteudo"  class="about">
        <h2>Sobre o curso</h2>
        <p>O curso é ministrado por profissionais experientes em programação. Nós fornecemos a você todo o
            conhecimento e as habilidades necessárias para ter sucesso em sua carreira.</p>
        <p><strong>Nosso programa inclui:</strong></p>
        <ul>
            <li><img src="static/python.svg">  Cursos de Python</li>
            <li> <img src="static/figma.svg"> Cursos de Figma</li>
            <li><img src="static/html5.svg"> Cursos de HTML</li>
            <li><img src="static/css3-alt.svg"> Cursos de CSS</li>
        </ul>
    </section>

    <section id="preco" class="pricing">
        <h2>Preços</h2>
        <ul>
            <li><img src="static/chevron-right-solid.svg"> Curso básico: R$ 150,00</li>
            <li><img src="static/chevron-right-solid.svg"> Curso avançado: R$ 250,00</li>
            <li><img src="static/chevron-right-solid.svg"> Curso completo: R$ 350,00</li>
        </ul>
        <strong><p id="inscreva">Inscreva-se agora e obtenha 40% de desconto!</p></strong>
        <a href="#" class="btn-pricing">Inscreva-se agora</a>
    </section>

    <footer>
        <p>Copyright © 2023</p>
    </footer>

</body>

</html>