<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens ao Redor do Mundo</title>
    <link rel="stylesheet" href="static/estilo3.css">
</head>
<body>
    <div class="container">
        <h1>Viagens ao Redor do Mundo</h1>

        <h2>Destino 1: Paris, França</h2>
        <p>Paris, a cidade do amor, é famosa por sua arquitetura deslumbrante, museus renomados como o Louvre e monumentos icônicos como a Torre Eiffel. Não deixe de explorar os encantadores bairros de Montmartre e Saint-Germain.</p>

        <h2>Destino 2: Tóquio, Japão</h2>
        <p>Tóquio, a capital do Japão, é uma metrópole vibrante, repleta de arranha-céus modernos, templos antigos, lojas de tecnologia e uma rica cultura. Visite o Mercado de Tsukiji, explore o bairro de Akihabara e maravilhe-se com o Santuário Meiji.</p>

        <h2>Destino 3: Rio de Janeiro, Brasil</h2>
        <p>O Rio de Janeiro, conhecido por suas deslumbrantes praias como Copacabana e Ipanema, é uma cidade cheia de energia e beleza natural. Aproveite o Pão de Açúcar, visite o Cristo Redentor e dance ao som do samba na Lapa.</p>

    </div>
</body>
</html>